* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

body {
    background: linear-gradient(90deg, rgba(2,2,4,1) 33%, rgba(44,38,97,1) 68%, rgba(8,93,121,1) 89%, rgba(0,175,190,1) 100%);}

h1 {
    font-size: 4rem;
    padding: 20px 0;
}

.logo {
    font-size: 1.8rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: left;
}

/*NAVIGATION*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 25px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

.menu li {
    margin-left: 20px;
}

.menu li a:hover {
    color: rgba(0,175,190,1);
}

.menu li a:active {
    color: rgba(44,38,97,1)
}

@media (max-width: 768px){
    .nav {
        display: block;
        text-align: center;
    }
    .menu {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .menu li {
        border-bottom: 1px solid whitesmoke;
        padding: 10px;
    }
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 70px;
}

.form-group {

    position: relative;
    margin-left: 50px;
    font-size: 2rem;
}

.form_field {
    background-color: whitesmoke;
    padding: 20px 60px;
    border: 0;
    border-radius: 35px;
}

.btn {
    position: absolute;
    background: linear-gradient(90deg, rgba(238,101,126,1) 0%, rgba(237,114,93,1) 100%);
    padding: 15px 25px;
    color: whitesmoke;
    border: 0;
    border-radius: 30px;
    top: 5px;
    left: 240px;

}

.quote {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 30px;
}

.form_field::placeholder {
    color: gray;
}
 .funder {
     display: flex;
     margin-left: 100px;
     margin-bottom: 30px;
 }

 .funder img {
     width: 80px;
     height: 60Px;
     border-radius: 60px;
     border: 2px solid  rgba(238,101,126,1) ;
     margin-right: 20px;
 }

 .name {
     display: block;
 }


@media (max-width: 768px){

    .main {
        margin-top: 20px;
    }
    .main h1 {
        font-size: 3rem;
    }
    .main img {
        display: none;
    }
}
